body {
    background-color: #1a1a1a;
    color: white;
    font-family: sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 10%;
}

/* nav */

nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
    gap: 6px;
    margin-left: 10%;
    margin-right: 10%;
}

#nav {
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;

}

#home {
    padding: 12px 22px;
    gap: 10px;
    border-radius: 6px;
    background: #262626;
}

#button {
    display: none
}

.contact-button-nav {
    background-color: #9EFF00;
    display: inline-block;
    padding: 12px 18px;
    border-radius: 6px;
}

#logo {
    display: flex;
    width: 118px;
    height: 40px;
    flex-shrink: 0;
}

/* end nav */


/* header */

header {
    background: url("header\ Baggrund.png") top no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 2px solid #262626;
    border-right: 2px solid #262626;

}

#title {
    padding-top: 87px;
    color: white;
    font-size: 38px;
    font-weight: 600;
    line-height: 150%;
    text-align: center
}

.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 36, 36, 0.20);
    border-radius: 8px;
    backdrop-filter: blur(6px);
    border-color: #98989a1a;
    border-style: ridge;
    padding: 18px 30px;
    gap: 6px;
}

.separator {
    color: #98989A;
    font-size: 18px;
}

.tag-items {
    background-color: #262626;
    white-space: nowrap;
    padding: 8px 10px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
}

.button {
    margin-top: 30px;
    margin-bottom: 253px;
}

.works-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #26262667;
    border-color: #98989a38;
    color: white;
    border-radius: 10px;
}

.contact-button-header {
    background-color: greenyellow;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 10px;
}

/* end header */

/* main */

main {
    align-items: center;
}

.btn-clients {
    display: flex;
    justify-content: center;
}

.trusted-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    display: inline-block;
    color: white;
    border-color: #262626;
    padding: 14px 24px;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #262626;
    border-right: 2px solid #262626;
    margin-bottom: 40px;
    height: 40px;
    gap: 80px;
}

.services-head {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 40px;
    background-image: url(Container.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-right: 10%;
}

#services-h2 {
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 10px;
}

.services-p {
    margin-bottom: 50px;
}


#services {
    color: rgba(152, 152, 154, 1);
    font-size: 16px;

}

.services {
    display: flex;
    justify-content: center;
    margin: 3% 10% 3% 10%;
    padding: 0%;
    gap: 10%;
}

.div.services {
    display: flex;
    justify-items: center;
    margin-top: auto;
    text-align: left;
    font-size: 16px;
    font-weight: 50;
    margin-left: 10%;
    margin-right: 10%;

}

.btn-lern-more {
    display: block;
    width: 100%;
    background-color: #262626;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

/* end main */

/* footer */

footer {
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    margin: auto;
}

.footer-links a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
}

.social {
    margin: 0 10px;
}

.contact-info {
    margin: 8px 0;
}

.contact-info p {
    color: white;
}

.copyright {
    color: #98989A;
    ;
    margin-top: 20px;
    font-size: 12px;
}

/* end footer */

@media screen and (max-width: 768px) {

    nav ul {
        display: none;
    }

    .contact-button-nav {
        display: none;
    }

    #button {
        display: flex;
        justify-content: flex-end;
    }

    header {
        margin: 0%;
    }

    .tags {
        padding: 18px 20px;
        display: flex;
        flex-wrap: wrap;
        margin: 0% 3%;
    }

    .tag-items {
        color: #98989A;
    }

    #mylinks {
        display: none;
    }

    .clients {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40%;
        margin: 5% 12%;
        height: auto;
    }

    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5% 12%;
    }

    .services-head {
        margin: 0 3%;
    }
}